@charset 'utf-8';
.wamp .content {
  overflow: hidden;
}
.wamp .content .left_menu_con {
  width: 20%;
  float: left;
  background: url(../img/left_bg.jpg) repeat-y;
}
.wamp .content .left_menu_con h3 {
  font-size: 16px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  margin-bottom: 10px;
}
.wamp .content .left_menu_con ul {
  overflow: hidden;
}
.wamp .content .left_menu_con ul li {
  line-height: 42px;
  text-align: center;
  font-size: 14px;
}
.wamp .content .left_menu_con ul li a {
  color: #666;
}
.wamp .content .left_menu_con ul li .active {
  color: #ea5695;
  font-weight: bold;
}
.wamp .content .right_content {
  width: 80%;
  float: right;
  min-height: 500px;
}
.wamp .content .right_content .info_con {
  width: 100%;
  overflow: hidden;
}
.wamp .content .right_content .info_con .user_info_list {
  background-color: #f9f9f9;
  padding: 10px 10px;
  box-sizing: border-box;
  height: 90px;
}
.wamp .content .right_content .info_con .user_info_list li {
  line-height: 24px;
}
.wamp .content .right_content .common_title2 {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  margin: 10px 0;
}
.wamp .content .right_content .has_view_list {
  overflow: hidden;
}
.wamp .content .right_content .has_view_list .goods_type_list {
  margin: 10px auto 10px;
}
.wamp .content .right_content .has_view_list .goods_type_list li {
  width: 196px;
  float: left;
  margin-right: 10px;
}
.wamp .content .right_content .has_view_list .goods_type_list li margin-bottom:10px img {
  width: 160px;
  height: 160px;
  margin: 10px auto;
}
.wamp .content .right_content .has_view_list .goods_type_list li h4 {
  width: 160px;
}
.wamp .content .right_content .has_view_list .goods_type_list li h4 a {
  color: #666;
  display: block;
  width: 160px;
  overflow: hidden;
}
.wamp .content .right_content .has_view_list .goods_type_list li .operate {
  width: 160px;
  margin: 10px auto;
  position: relative;
}
.wamp .content .right_content .has_view_list .goods_type_list li .operate .prize {
  color: #da260e;
  font-size: 14px;
}
.wamp .content .right_content .has_view_list .goods_type_list li .operate .add_goods {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/shop_cart.png);
  position: absolute;
  right: 0;
  top: 3px;
}
