<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<title>关于我们</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../css/about.css" />
		<script src="../js/jQuery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/adata.js" type="text/javascript" charset="utf-8"></script>
		<link rel="shortcut icon" href="../img/logo.png">
	</head>
	<body>
		<div class="wamp">
			<div class="header">
				<div class="top">
					<div class="public-width">
						<div class="fl">
							<a href="../index.html">
								<span>乐享</span>——校园网上交易平台
							</a>
						</div>
						<ul class="fr">
							<li><a href="../index.html">主页</a></li>
							<li><a href="product_list.html">商品类别</a></li>
							<li><a href="information_publish.html">信息发布</a></li>
							<li><a href="user_info.html">用户中心</a></li>
							<li><a href="login.html">登录</a></li>
							<li><a href="register.html">注册</a></li>
						</ul>
					</div>
				</div>
				<div class="seach">
					<div class="fl">
						<input type="text" placeholder="请输入想要购买的物品" class="input_text" />
						<input type="button" value="查询" class="input_btn" />
					</div>
					<div class="fr">
						<div class="button">
							<span class="icon"></span>
							<a href="commodity_publish.html">发布/求购</a>
						</div>
					</div>
				</div>
			</div>
			<!--内容展示-->
			<div class="content public_width">				

			</div>
			<!--尾部-->
			<div class="footer">
				<div class="foot-top">
					<div class="public-width">
						<div class="all fl">
							<div>
								<h3>
									<a href="javascript:;">关于</a>
								</h3>
								<ul>
									<li><a href="about.html">关于我们</a></li>
								</ul>
							</div>
							<div>
								<h3>
									<a href="javascript:;">商品类别</a>
								</h3>
								<ul>
									<li><a href="product_list.html">学习资料</a></li>
									<li><a href="product_list.html">电子资料</a></li>
									<li><a href="product_list.html">服饰衣包</a></li>
									<li><a href="product_list.html">学习工具</a></li>
									<li><a href="product_list.html">其他产品</a></li>
								</ul>
							</div>
							<div>
								<h3>
									<a href="javascript:;">信息发布</a>
								</h3>
								<ul>
									<li><a href="information_publish.html">最新发布</a></li>
									<li><a href="information_publish.html">买家求购</a></li>
									<li><a href="information_publish.html">卖家发布</a></li>
									<li><a href="information_publish.html">免费物品</a></li>
								</ul>
							</div>
							<div>
								<h3>
									<a href="javascript:;">友情链接</a>
								</h3>
								<ul>
									<li><a href="http://www.lzy.edu.cn/">学院官网</a></li>
								</ul>
							</div>
						</div>
						<div class="comments fl">
							<p>
								<input type="text" placeholder="请输入您的姓名" class="border">
								<input type="text" placeholder="请输入您的联系方式" class="border">
							</p>
							<p>
								<textarea placeholder="请输入您的留言" class="border"></textarea>
							</p>
							<p>
								<button type="button" class="border">提交</button>
							</p>
						</div>
					</div>
				</div>
				<div class="foot-btm">
					泸州职业技术学院&nbsp;&nbsp;信息工程学院&nbsp;&nbsp;17计应3班&nbsp;&nbsp;郑小曼&nbsp;&nbsp;<a href="admin/login.php">管理员登录入口</a>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			/*
				页面描述：
				实现功能：
				所用技术：
				页面测试：
			*/
		</script>
		<script src="../js/about.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>