<!DOCTYPE html>
<html>
	<head>
		<title>乐享登录界面</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<script src="../js/jQuery.js"></script>
		<script src="../js/adata.js"></script>
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!-- Custom Theme files -->
		<link href="../css/register.css" rel="stylesheet" type="text/css" media="all" />
	</head>
	<body>
		<div class="top-buttons-agileinfo">
			<a href="../index.html">首页</a><a href="login.html" class="active">登录</a><a href="register.html">注册</a>
		</div>
		<h1>登录和注册表单</h1>
		<div class="main-agileits">
			<!--form-stars-here-->
			<div class="form-w3-agile">
				<h2 class="sub-agileits-w3layouts">登录</h2>
				<form action="#" method="post">
					<input type="email" name="Eamil" placeholder="请输入邮箱" required="" />
					<input type="password" name="Password" placeholder="请输入密码" required="" />
					<a href="#" class="forgot-w3layouts">忘记密码 ?</a>
					<div class="submit-w3l">
						<input type="button" value="登录" class="submits">
						<!-- 样式有问题 -->
					</div>
					<p class="p-bottom-w3ls"><a href="register.html">点击注册</a>如果你没有一个帐户...</p>
				</form>
			</div>
		</div>
		<script src="../js/login.js"></script>
		<!--//form-ends-here-->
		<!-- copyright -->
		<div class="copyright w3-agile">
			<p> 学院地址：泸州市龙马潭区长桥路2号 邮编：646000<br />技术支持：郑小曼 指导老师：赵菲</p>
		</div>
	</body>
</html>
