<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<title>本站动态列表页面</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../css/new_list.css" />
		<script src="../js/jQuery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/adata.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
		<script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
		<link rel="shortcut icon" href="../img/logo.png">
	</head>
	<body>
		<div class="wamp">
			<div class="header">
				<div class="top">
					<div class="public-width">
						<div class="fl">
							<a href="../index.html">
								<span>乐享</span>——校园网上交易平台
							</a>
						</div>
						<ul class="fr">
							<li><a href="../index.html">主页</a></li>
							<li><a href="product_list.html">商品类别</a></li>
							<li><a href="information_publish.html">信息发布</a></li>
							<li><a href="user_info.html">用户中心</a></li>
							<li><a href="login.html">登录</a></li>
							<li><a href="register.html">注册</a></li>
						</ul>
					</div>
				</div>
				<div class="seach">
					<div class="fl">
						<input type="text" placeholder="请输入想要购买的物品" class="input_text" />
						<input type="button" value="查询" class="input_btn" />
						<div class="seach_con">
							<p class="defult">正在搜索……</p>
							<ul class="new">
								<li>消息</li>
							</ul>
						</div>
					</div>
					<div class="fr">
						<div class="button">
							<span class="icon"></span>
							<a href="commodity_publish.html">发布/求购</a>
						</div>
					</div>
				</div>
			</div>
			<!--内容展示-->
			<div class="content public_width">
				<div class="con_left">
					<div class="newContent">
						<!-- <h3>做自己快乐的主人</h3>
						<hr/>
						<p>人生最高的境界，是要拥有一种淡泊宁静的心态。最大的人格魅力，是有一颗阳光般心。得失无忧，去留无意，荣辱不惊，从容淡定，随缘不变，随遇而安，心无杂念，不染尘埃。宽以待人，与人为善，严以律己，助人为乐，懂得感恩，懂得包容，简单做人，洒脱自在，善待他人，快乐自己。</p>
						<p>不老的是江山，易逝的是红颜，淡看浮云散，潇洒天地间。人的一生，很短又很长，短的是快乐，长的是烦恼；短的是人生，长的是痛苦。有些事是命中注定的，有些事是无法掌控的，有些事是不合情理的，有些事是不尽人意的。但无论发生了什么，都要淡然的去面对，坚持自己的原则，无愧于自己的良心，清清白白的做事，坦坦荡荡的做人。</p> -->
					</div>
					<h3>头条新闻</h3>
					<ul class="new_con">
<!-- 						<li>
							<a href="#">【标题】梵蒂冈地方官地方官给</a>
							<div class="new_info">
								<img src="../img/1_13.png" >
								<div class="fr">
									<p>地方梵蒂冈合同已经有特价的事实是事实是事实是事实是事实地方梵蒂冈合同已经有特价的事实是事实是事实是事实是事实地方梵蒂冈合同已经有特价的事实是事实是事实是事实是事实...</p>
									<p><span></span>1050</p>
								</div>
							</div>
						</li> -->
					</ul>
				</div>
				<div class="con_right">
					<div class="campus">
						<h3>
							<span></span>
							图说泸职
						</h3>
						<div class="swiper-container">
							<div class="swiper-wrapper">
<!-- 								<div class="swiper-slide">
									<img src="../img/1.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="../img/1.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="../img/1.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="../img/1.jpg" alt="">
								</div> -->
							</div>
							<!-- 如果需要分页器 -->
							<div class="swiper-pagination"></div>
						</div>
					</div>
					<div class="hos">
						<h3>
							<span></span>
							最新动态
						</h3>
						<ul class="list">
<!-- 							<li>
								<p><span></span><time>2019-10-12</time><span></span>1050</p>
								<a href="#">好一个阳光明媚的清晨好一个阳光明媚的清晨好一个阳光明媚的清晨</a>
							</li> -->
						</ul>
					</div>
				</div>
			</div>
			<!--尾部-->
			<div class="footer">
				<div class="foot-top">
					<div class="public-width">
						<div class="all fl">
							<div>
								<h3>
									<a href="javascript:;">关于</a>
								</h3>
								<ul>
									<li><a href="about.html">关于我们</a></li>
								</ul>
							</div>
							<div>
								<h3>
									<a href="javascript:;">商品类别</a>
								</h3>
								<ul>
									<li><a href="product_list.html">学习资料</a></li>
									<li><a href="product_list.html">电子资料</a></li>
									<li><a href="product_list.html">服饰衣包</a></li>
									<li><a href="product_list.html">学习工具</a></li>
									<li><a href="product_list.html">其他产品</a></li>
								</ul>
							</div>
							<div>
								<h3>
									<a href="javascript:;">信息发布</a>
								</h3>
								<ul>
									<li><a href="information_publish.html">最新发布</a></li>
									<li><a href="information_publish.html">买家求购</a></li>
									<li><a href="information_publish.html">卖家发布</a></li>
									<li><a href="information_publish.html">免费物品</a></li>
								</ul>
							</div>
							<div>
								<h3>
									<a href="javascript:;">友情链接</a>
								</h3>
								<ul>
									<li><a href="http://www.lzy.edu.cn/">学院官网</a></li>
								</ul>
							</div>
						</div>
						<div class="comments fl">
							<p>
								<input type="text" placeholder="请输入您的姓名" class="border">
								<input type="text" placeholder="请输入您的联系方式" class="border">
							</p>
							<p>
								<textarea placeholder="请输入您的留言" class="border"></textarea>
							</p>
							<p>
								<button type="button" class="border">提交</button>
							</p>
						</div>
					</div>
				</div>
				<div class="foot-btm">
					泸州职业技术学院&nbsp;&nbsp;信息工程学院&nbsp;&nbsp;17计应3班&nbsp;&nbsp;郑小曼&nbsp;&nbsp;<a href="admin/login.php">管理员登录入口</a>
				</div>
			</div>
		</div>
		<script src="../js/new_list.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
