<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<title>本站动态列表页面</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../css/new_list.css" />
		<script src="../js/jQuery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/adata.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
		<script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
		<link rel="shortcut icon" href="../img/logo.png">
	</head>
	<body>
		<div class="wamp">
			<div class="header">
				<div class="top">
					<div class="public-width">
						<div class="fl">
							<a href="../index.html">
								<span>乐享</span>——校园网上交易平台
							</a>
						</div>
						<ul class="fr">
							<li><a href="../index.html">主页</a></li>
							<li><a href="product_list.html">商品类别</a></li>
							<li><a href="information_publish.html">信息发布</a></li>
							<li><a href="user_info.html">用户中心</a></li>
							<li><a href="login.html">登录</a></li>
							<li><a href="register.html">注册</a></li>
						</ul>
					</div>
				</div>
				<div class="seach">
					<div class="fl">
						<input type="text" placeholder="请输入想要购买的物品" class="input_text" />
						<input type="button" value="查询" class="input_btn" />
						<div class="seach_con">
							<p class="defult">正在搜索……</p>
							<ul class="new">
								<li>消息</li>
							</ul>
						</div>
					</div>
					<div class="fr">
						<div class="button">
							<span class="icon"></span>
							<a href="commodity_publish.html">发布/求购</a>
						</div>
					</div>
				</div>
			</div>
			<!--内容展示-->
			<div class="content public_width">
				<div class="con_left">
					<div class="newContent">
						<h3>最新动态列表</h3>
						<hr>
						<p>车找人：明天上午跑驾校，单趟只要20，来回35，联系:13434354546<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你好，帮我发一下，有没有人在出图书馆的那条路上捡到一张饭卡，写的有名字，是大三的，名字是:石一沈英捡到的请联系2531753174，谢谢！<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校有谁在卖古蔺萝卜干吗，麻烦有在卖的同学联系qq:2503745853谢谢。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大三学姐双十一剁手，凑单买了澳宝沐浴露4瓶，润肤乳2瓶，第二天想退款结果发货了，就没有退成，先低价卖出15一瓶，联系方式Q
							Q:2697211317</p>
					</div>
					<h3>头条新闻</h3>
					<ul class="new_con">
						<!-- 						<li>
								<a href="#">【标题】梵蒂冈地方官地方官给</a>
								<div class="new_info">
									<img src="../img/1_13.png" >
									<div class="fr">
										<p>地方梵蒂冈合同已经有特价的事实是事实是事实是事实是事实地方梵蒂冈合同已经有特价的事实是事实是事实是事实是事实地方梵蒂冈合同已经有特价的事实是事实是事实是事实是事实...</p>
										<p><span></span>1050</p>
									</div>
								</div>
							</li> -->
						<li>
							<a href="new_list.html?newId=1">【标题】平台简介</a>
							<div class="new_info">
								<img src="../img/school/new1.jpg">
								<div class="fr">
									<p>本站是一个面对泸职院广大师生群体的一个二手交易平台，在这里你可以放心的发布和求购闲置资源</p>
									<p><span></span>4</p>
								</div>
							</div>
						</li>
						<li>
							<a href="new_list.html?newId=2">【标题】诚信规范</a>
							<div class="new_info">
								<img src="../img/school/new2.jpg">
								<div class="fr">
									<p>质量保证，诚信保证，安全良好环境靠大家共同建设</p>
									<p><span></span>4</p>
								</div>
							</div>
						</li>
						<li>
							<a href="new_list.html?newId=3">【标题】安全防范</a>
							<div class="new_info">
								<img src="../img/school/new3.jpg">
								<div class="fr">
									<p>减少线上支付，面对群体为同校同学，推荐一手交钱一手交货</p>
									<p><span></span>4</p>
								</div>
							</div>
						</li>
						<li>
							<a href="new_list.html?newId=4">【标题】最新动态列表</a>
							<div class="new_info">
								<img src="../img/school/new4.jpg">
								<div class="fr">
									<p>车找人：明天上午跑驾校，单趟只要20，来回35，联系:13434354546<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你好，帮我发一下，有没有人在出图书馆的那条路上捡到一张饭卡，写的有名字，是大三的，名字是:石一沈英捡到的请联系2531753174，谢谢！<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校有谁在卖古蔺萝卜干吗，麻烦有在卖的同学联系qq:2503745853谢谢。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大三学姐双十一剁手，凑单买了澳宝沐浴露4瓶，润肤乳2瓶，第二天想退款结果发货了，就没有退成，先低价卖出15一瓶，联系方式Q
										Q:2697211317</p>
									<p><span></span>4</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="con_right">
					<div class="campus">
						<h3>
							<span></span>
							图说泸职
						</h3>
						<div class="swiper-container swiper-container-fade swiper-container-initialized swiper-container-horizontal">
							<div class="swiper-wrapper" style="transition-duration: 300ms;">
								<div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="3" style="width: 300px; transition-duration: 300ms; opacity: 1; transform: translate3d(0px, 0px, 0px);"><img
									 src="../img/school/school15.jpg" alt=""></div>
								<!-- 								<div class="swiper-slide">
										<img src="../img/1.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="../img/1.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="../img/1.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="../img/1.jpg" alt="">
									</div> -->
								<div class="swiper-slide" data-swiper-slide-index="0" style="width: 300px; transition-duration: 300ms; opacity: 1; transform: translate3d(-300px, 0px, 0px);"><img
									 src="../img/school/school11.jpg" alt=""></div>
								<div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1" style="width: 300px; transition-duration: 300ms; opacity: 1; transform: translate3d(-600px, 0px, 0px);"><img
									 src="../img/school/school7.jpg" alt=""></div>
								<div class="swiper-slide swiper-slide-active" data-swiper-slide-index="2" style="width: 300px; transition-duration: 300ms; opacity: 1; transform: translate3d(-900px, 0px, 0px);"><img
									 src="../img/school/school15.jpg" alt=""></div>
								<div class="swiper-slide swiper-slide-next" data-swiper-slide-index="3" style="width: 300px; transition-duration: 300ms; opacity: 0; transform: translate3d(-1200px, 0px, 0px);"><img
									 src="../img/school/school15.jpg" alt=""></div>
								<div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="width: 300px; transition-duration: 300ms; opacity: 0; transform: translate3d(-1500px, 0px, 0px);"><img
									 src="../img/school/school11.jpg" alt=""></div>
							</div>
							<!-- 如果需要分页器 -->
							<div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span
								 class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
								 class="swiper-pagination-bullet"></span></div>
							<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
						</div>
					</div>
					<div class="hos">
						<h3>
							<span></span>
							最新动态
						</h3>
						<ul class="list">
							<li>
								<p><span></span><time>2019-10-11</time><span></span>4</p>
								<a href="new_list.html?newId=s1">平台简介</a>
							</li>
							<li>
								<p><span></span><time>2019-10-11</time><span></span>4</p>
								<a href="new_list.html?newId=s2">诚信规范</a>
							</li>
							<li>
								<p><span></span><time>2019-10-11</time><span></span>4</p>
								<a href="new_list.html?newId=s3">安全防范</a>
							</li>
							<li>
								<p><span></span><time>2019-10-11</time><span></span>4</p>
								<a href="new_list.html?newId=s4">校园最新动态</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--尾部-->
			<div class="footer">
				<div class="foot-top">
					<div class="public-width">
						<div class="all fl">
							<div>
								<h3>
									<a href="javascript:;">关于</a>
								</h3>
								<ul>
									<li><a href="about.html">关于我们</a></li>
								</ul>
							</div>
							<div>
								<h3>
									<a href="javascript:;">商品类别</a>
								</h3>
								<ul>
									<li><a href="product_list.html">学习资料</a></li>
									<li><a href="product_list.html">电子资料</a></li>
									<li><a href="product_list.html">服饰衣包</a></li>
									<li><a href="product_list.html">学习工具</a></li>
									<li><a href="product_list.html">其他产品</a></li>
								</ul>
							</div>
							<div>
								<h3>
									<a href="javascript:;">信息发布</a>
								</h3>
								<ul>
									<li><a href="information_publish.html">最新发布</a></li>
									<li><a href="information_publish.html">买家求购</a></li>
									<li><a href="information_publish.html">卖家发布</a></li>
									<li><a href="information_publish.html">免费物品</a></li>
								</ul>
							</div>
							<div>
								<h3>
									<a href="javascript:;">友情链接</a>
								</h3>
								<ul>
									<li><a href="http://www.lzy.edu.cn/">学院官网</a></li>
								</ul>
							</div>
						</div>
						<div class="comments fl">
							<p>
								<input type="text" placeholder="请输入您的姓名" class="border">
								<input type="text" placeholder="请输入您的联系方式" class="border">
							</p>
							<p>
								<textarea placeholder="请输入您的留言" class="border"></textarea>
							</p>
							<p>
								<button type="button" class="border">提交</button>
							</p>
						</div>
					</div>
				</div>
				<div class="foot-btm">
					泸州职业技术学院&nbsp;&nbsp;信息工程学院&nbsp;&nbsp;17计应3班&nbsp;&nbsp;郑小曼&nbsp;&nbsp;<a href="admin/login.php">管理员登录入口</a>
				</div>
			</div>
		</div>
		<script src="../js/new_list.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>

	</body>
</html>
