<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<title>商品类别页面</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../css/product_list.css" />
		<link rel="shortcut icon" href="../img/logo.png">
	</head>
	<body>
		<div class="wamp">
			<div class="header">
				<div class="top">
					<div class="public-width">
						<div class="fl">
							<a href="../index.html">
								<span>乐享</span>——校园网上交易平台
							</a>
						</div>
						<ul class="fr">
							<li><a href="../index.html">主页</a></li>
							<li><a href="product_list.html">商品类别</a></li>
							<li><a href="information_publish.html">信息发布</a></li>
							<li><a href="user_info.html">用户中心</a></li>
							<li><a href="login.html">登录</a></li>
							<li><a href="register.html">注册</a></li>
						</ul>
					</div>
				</div>
				<div class="seach">
					<div class="fl">
						<input type="text" placeholder="请输入想要购买的物品" class="input_text" />
						<input type="button" value="查询" class="input_btn" />
						<div class="seach_con">
							<p class="defult">正在搜索……</p>
							<ul class="new">
								<li>消息</li>
							</ul>
						</div>
					</div>
					<div class="fr">
						<div class="button">
							<span class="icon"></span>
							<a href="commodity_publish.html">发布/求购</a>
						</div>
					</div>
				</div>
			</div>
			<!--内容展示-->
			<div class="content public_width">
				<div class="con_info">
					<ul class="list">
						<li class="active">
							<a href="javascript:;">学习资料</a>
						</li>
						<li>
							<a href="javascript:;">阅读书籍</a>
						</li>
						<li>
							<a href="javascript:;">鞋服包饰</a>
						</li>
						<li>
							<a href="javascript:;">美妆护理</a>
						</li>
						<li>
							<a href="javascript:;">生活日用</a>
						</li>
						<li>
							<a href="javascript:;">租凭买卖</a>
						</li>
						<li>
							<a href="javascript:;">零食糖巧</a>
						</li>
					</ul>
					<div class="right">
						<div class="product" style="display: block;">
							<h3>纸质资料</h3>
							<div class="pro">
								<a href="commodity.html?comId=zl1">
									<img src="../img/study/stu2.jpg">
								</a>
								<h4><a href="commodity.html?comId=zl1">思科认证考试书籍</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="zl1" class="icon fr sc"></a>
								</div>
							</div>
							<div class="pro">
								<a href="commodity.html?comId=zl2">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=zl2">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="zl2" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=zl3">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=zl3">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="zl3" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=zl4">
									<img src="../img/study/stu2.jpg">
								</a>
								<h4><a href="commodity.html?comId=zl4">思科认证考试书籍</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="zl4" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=zl41">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=zl41">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="zl41" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=zl42">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=zl42">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="zl42" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=5">
									<img src="../img/study/stu2.jpg">
								</a>
								<h4><a href="commodity.html?comId=5">思科认证考试书籍</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="5" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=6">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=6">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="6" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=7">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=7">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="7" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=8">
									<img src="../img/study/stu2.jpg">
								</a>
								<h4><a href="commodity.html?comId=8">思科认证考试书籍</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="8" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=9">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=9">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="9" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=10">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=10">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="10" class="icon fr sc"></a>
								</div>
							</div>
							<h3>电子资料</h3>
							<div class="pro">
								<a href="commodity.html?comId=11">
									<img src="../img/study/dstu1.jpg">
								</a>
								<h4><a href="commodity.html?comId=11">莫奈油画合集</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="11" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=12">
									<img src="../img/study/book_1.jpg">
								</a>
								<h4><a href="commodity.html?comId=12">专升本考试教辅</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="12" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=13">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=13">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="13" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=14">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=14">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="14" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=15">
									<img src="../img/study/stu2.jpg">
								</a>
								<h4><a href="commodity.html?comId=15">思科认证考试书籍</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="15" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=16">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=16">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="16" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=17">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=17">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="17" class="icon fr sc"></a>
								</div>
							</div>
							<h3>各类考证</h3>
							<div class="pro">
								<a href="commodity.html?comId=18">
									<img src="../img/study/book.jpg">
								</a>
								<h4><a href="commodity.html?comId=18">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="18" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=19">
									<img src="../img/study/book_1.jpg">
								</a>
								<h4><a href="commodity.html?comId=19">哈尔滨工业大学机械原理</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="19" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=20">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=20">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="20" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=21">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=21">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="21" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=22">
									<img src="../img/study/stu2.jpg">
								</a>
								<h4><a href="commodity.html?comId=22">思科认证考试书籍</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="22" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=23">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=23">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="23" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=24">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=24">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="24" class="icon fr sc"></a>
								</div>
							</div>
						</div>
						<div class="product" style="display: none;">
							<h3>课外阅读</h3>
							<div class="pro">
								<a href="commodity.html?comId=25">
									<img src="../img/study/book2.jpg">
								</a>
								<h4><a href="commodity.html?comId=25">口才训练沟通技巧艺术人</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="25" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=26">
									<img src="../img/study/book1.jpg">
								</a>
								<h4><a href="commodity.html?comId=26">阿衰</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="26" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=27">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=27">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="27" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=28">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=28">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="28" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=29">
									<img src="../img/study/stu2.jpg">
								</a>
								<h4><a href="commodity.html?comId=29">思科认证考试书籍</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="29" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=30">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=30">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="30" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=31">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=31">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="31" class="icon fr sc"></a>
								</div>
							</div>
							<h3>科目延伸</h3>
							<div class="pro">
								<a href="commodity.html?comId=32">
									<img src="../img/study/book5.jpg">
								</a>
								<h4><a href="commodity.html?comId=32">软件测试进阶之路</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="32" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=33">
									<img src="../img/study/book6.jpg">
								</a>
								<h4><a href="commodity.html?comId=33">明解C语言入门篇</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="33" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=34">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=34">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="34" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=35">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=35">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="35" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=36">
									<img src="../img/study/stu2.jpg">
								</a>
								<h4><a href="commodity.html?comId=36">思科认证考试书籍</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="36" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=37">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=37">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="37" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=38">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=38">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="38" class="icon fr sc"></a>
								</div>
							</div>
							<h3>小说</h3>
							<div class="pro">
								<a href="commodity.html?comId=39">
									<img src="../img/study/book3.jpg">
								</a>
								<h4><a href="commodity.html?comId=39">《活着》余华</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="39" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=40">
									<img src="../img/study/book4.jpg">
								</a>
								<h4><a href="commodity.html?comId=40">《傲慢与偏见》简·奥斯</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="40" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=41">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=41">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="41" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=42">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=42">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="42" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=43">
									<img src="../img/study/stu2.jpg">
								</a>
								<h4><a href="commodity.html?comId=43">思科认证考试书籍</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="43" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=44">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=44">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="44" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=45">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=45">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="45" class="icon fr sc"></a>
								</div>
							</div>
						</div>
						<div class="product" style="display: none;">
							<h3>鞋子</h3>
							<div class="pro">
								<a href="commodity.html?comId=46">
									<img src="../img/foot/foot1.jpg">
								</a>
								<h4><a href="commodity.html?comId=46">小白鞋</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="46" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=47">
									<img src="../img/foot/foot2.jpg">
								</a>
								<h4><a href="commodity.html?comId=47">高跟鞋女细跟小香风绸缎</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="47" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=48">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=48">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="48" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=49">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=49">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="49" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=50">
									<img src="../img/study/stu2.jpg">
								</a>
								<h4><a href="commodity.html?comId=50">思科认证考试书籍</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="50" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=51">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=51">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="51" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=52">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=52">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="52" class="icon fr sc"></a>
								</div>
							</div>
							<h3>服装</h3>
							<div class="pro">
								<a href="commodity.html?comId=53">
									<img src="../img/cloth/cloth1.jpg">
								</a>
								<h4><a href="commodity.html?comId=53">白色高领毛衣</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="53" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=54">
									<img src="../img/cloth/cloth2.jpg">
								</a>
								<h4><a href="commodity.html?comId=54">衬衣红白杠</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="54" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=55">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=55">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="55" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=56">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=56">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="56" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=57">
									<img src="../img/study/stu2.jpg">
								</a>
								<h4><a href="commodity.html?comId=57">思科认证考试书籍</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="57" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=58">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=58">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="58" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=59">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=59">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="59" class="icon fr sc"></a>
								</div>
							</div>
							<h3>箱包</h3>
							<div class="pro">
								<a href="commodity.html?comId=xb1">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=xb1">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="xb1" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=xb2">
									<img src="../img/study/book1.jpg">
								</a>
								<h4><a href="commodity.html?comId=xb2">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="xb2" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=xb3">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=xb3">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="xb3" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=xb4">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=xb4">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="xb4" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=xb5">
									<img src="../img/study/stu2.jpg">
								</a>
								<h4><a href="commodity.html?comId=xb5">思科认证考试书籍</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="xb5" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=xb6">
									<img src="../img/study/stu1.png">
								</a>
								<h4><a href="commodity.html?comId=xb6">大学生就业与创业指导</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="xb6" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=xb7">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=xb7">基础会计学</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="xb7" class="icon fr sc"></a>
								</div>
							</div>
							<h3>首饰</h3>
							<div class="pro">
								<a href="commodity.html?comId=ss1">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=ss1">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="ss1" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=ss2">
									<img src="../img/study/book1.jpg">
								</a>
								<h4><a href="commodity.html?comId=ss2">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="ss2" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=ss3">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=ss3">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="ss3" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=ss4">
									<img src="../img/study/book1.jpg">
								</a>
								<h4><a href="commodity.html?comId=ss4">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="ss4" class="icon fr sc"></a>
								</div>
							</div>
						</div>
						<div class="product" style="display: none;">
							<h3>彩妆工具</h3>
							<div class="pro">
								<a href="commodity.html?comId=cz1">
									<img src="../img/mz/mz1.jpg">
								</a>
								<h4><a href="commodity.html?comId=cz1">花西子化妆品套装女全套</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="cz1" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=cz2">
									<img src="../img/mz/mz2.jpg">
								</a>
								<h4><a href="commodity.html?comId=cz2">美康粉黛气垫BB霜海绵</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="cz2" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=cz3">
									<img src="../img/mz/mz1.jpg">
								</a>
								<h4><a href="commodity.html?comId=cz3">花西子化妆品套装女全套</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="cz3" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=cz4">
									<img src="../img/mz/mz2.jpg">
								</a>
								<h4><a href="commodity.html?comId=cz4">美康粉黛气垫BB霜海绵</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="cz4" class="icon fr sc"></a>
								</div>
							</div>
							<h3>身体护理</h3>
							<div class="pro">
								<a href="commodity.html?comId=st1">
									<img src="../img/mz/mz3.jpg">
								</a>
								<h4><a href="commodity.html?comId=st1">玛丽黛佳黄金亮肤BB霜</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="st1" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=st2">
									<img src="../img/mz/mz4.jpg">
								</a>
								<h4><a href="commodity.html?comId=st2">科娜蓝面霜补水保湿滋润</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="st2" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=st3">
									<img src="../img/mz/mz3.jpg">
								</a>
								<h4><a href="commodity.html?comId=st3">玛丽黛佳黄金亮肤BB霜</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="st3" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=st4">
									<img src="../img/mz/mz4.jpg">
								</a>
								<h4><a href="commodity.html?comId=st4">科娜蓝面霜补水保湿滋润</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="st4" class="icon fr sc"></a>
								</div>
							</div>
							<h3>各类彩妆</h3>
							<div class="pro">
								<a href="commodity.html?comId=cz5">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=cz5">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="cz5" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=cz6">
									<img src="../img/study/book1.jpg">
								</a>
								<h4><a href="commodity.html?comId=cz6">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="cz6" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=cz7">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=cz7">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="cz7" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=cz8">
									<img src="../img/study/book1.jpg">
								</a>
								<h4><a href="commodity.html?comId=cz8">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="cz8" class="icon fr sc"></a>
								</div>
							</div>
						</div>
						<div class="product" style="display: none;">
							<h3>生活用品</h3>
							<div class="pro">
								<a href="commodity.html?comId=sh1">
									<img src="../img/goods/ry1.jpg">
								</a>
								<h4><a href="commodity.html?comId=sh1">生日礼物女送大学闺蜜必</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="sh1" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=sh2">
									<img src="../img/goods/ry2.jpg">
								</a>
								<h4><a href="commodity.html?comId=sh2">创意卫生间日用品用具清</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="sh2" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=sh3">
									<img src="../img/goods/ry1.jpg">
								</a>
								<h4><a href="commodity.html?comId=sh3">生日礼物女送大学闺蜜必</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="sh3" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=sh4">
									<img src="../img/goods/ry2.jpg">
								</a>
								<h4><a href="commodity.html?comId=sh4">创意卫生间日用品用具清</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="sh4" class="icon fr sc"></a>
								</div>
							</div>
							<h3>清洁用品</h3>
							<div class="pro">
								<a href="commodity.html?comId=qj1">
									<img src="../img/goods/ry3.jpg">
								</a>
								<h4><a href="commodity.html?comId=qj1">吸水不掉毛抹布竹纤维洗</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="qj1" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=qj2">
									<img src="../img/goods/ry4.gif">
								</a>
								<h4><a href="commodity.html?comId=qj2">汽车洗车液白车专用泡沫</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="qj2" class="icon fr sc"></a>
								</div>
							</div>
							<h3>学习用品</h3>
							<div class="pro">
								<a href="commodity.html?comId=xx1">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=xx1">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="xx1" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=xx2">
									<img src="../img/study/book1.jpg">
								</a>
								<h4><a href="commodity.html?comId=xx2">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="xx2" class="icon fr sc"></a>
								</div>
							</div>
						</div>
						<div class="product" style="display: none;">
							<h3>服装租凭</h3>
							<div class="pro">
								<a href="commodity.html?comId=fzzp1">
									<img src="../img/goods/ry7.jpg">
								</a>
								<h4><a href="commodity.html?comId=fzzp1">汉尚华莲九曜原创汉服女</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="fzzp1" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=fzzp2">
									<img src="../img/goods/ry8.jpg">
								</a>
								<h4><a href="commodity.html?comId=fzzp2">西装套装女2019秋装</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="fzzp2" class="icon fr sc"></a>
								</div>
							</div>
							<h3>校园代步</h3>
							<div class="pro">
								<a href="commodity.html?comId=xydb1">
									<img src="../img/goods/ry5.jpg">
								</a>
								<h4><a href="commodity.html?comId=xydb1">10寸48V锂电池电动</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="xydb1" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=xydb2">
									<img src="../img/goods/ry6.jpg">
								</a>
								<h4><a href="commodity.html?comId=xydb2">官方旗舰店凤凰自行车男</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="xydb2" class="icon fr sc"></a>
								</div>
							</div>
							<h3>闲置数码</h3>
							<div class="pro">
								<a href="commodity.html?comId=xzsm1">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=xzsm1">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="xzsm1" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=xzsm2">
									<img src="../img/study/book1.jpg">
								</a>
								<h4><a href="commodity.html?comId=xzsm2">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="xzsm2" class="icon fr sc"></a>
								</div>
							</div>
							<h3>其他</h3>
							<div class="pro">
								<a href="commodity.html?comId=qt1">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=qt1">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="qt1" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=qt2">
									<img src="../img/study/book1.jpg">
								</a>
								<h4><a href="commodity.html?comId=qt2">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="qt2" class="icon fr sc"></a>
								</div>
							</div>
						</div>
						<div class="product" style="display: none;">
							<h3>零食大礼包</h3>
							<div class="pro">
								<a href="commodity.html?comId=ls1">
									<img src="../img/goods/food1.jpg">
								</a>
								<h4><a href="commodity.html?comId=ls1">酱鸭舌</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="ls1" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=ls2">
									<img src="../img/goods/food2.jpg">
								</a>
								<h4><a href="commodity.html?comId=ls2">黑巧克力</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="ls2" class="icon fr sc"></a>
								</div>
							</div>
							<h3>地方特产</h3>
							<div class="pro">
								<a href="commodity.html?comId=tc1">
									<img src="../img/goods/food3.jpg">
								</a>
								<h4><a href="commodity.html?comId=tc1">满减【三只松鼠_蛋黄酥</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="tc1" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=tc2">
									<img src="../img/goods/food5.jpg">
								</a>
								<h4><a href="commodity.html?comId=tc2">中国台湾微热山丘凤梨酥</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="tc2" class="icon fr sc"></a>
								</div>
							</div>
							<h3>节日特惠</h3>
							<div class="pro">
								<a href="commodity.html?comId=jr1">
									<img src="../img/study/book_2.jpg">
								</a>
								<h4><a href="commodity.html?comId=jr1">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="jr1" class="icon fr sc"></a>
								</div>
							</div>

							<div class="pro">
								<a href="commodity.html?comId=jr2">
									<img src="../img/study/book1.jpg">
								</a>
								<h4><a href="commodity.html?comId=jr2">【二手99新】Beat</a></h4>
								<div>
									<a href="#" class="fl">李明</a>
									<a href="#" comid="jr2" class="icon fr sc"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--尾部-->
			<div class="footer">
				<div class="foot-top">
					<div class="public-width">
						<div class="all fl">
							<div>
								<h3>
									<a href="javascript:;">关于</a>
								</h3>
								<ul>
									<li><a href="about.html">关于我们</a></li>
								</ul>
							</div>
							<div>
								<h3>
									<a href="javascript:;">商品类别</a>
								</h3>
								<ul>
									<li><a href="product_list.html">学习资料</a></li>
									<li><a href="product_list.html">电子资料</a></li>
									<li><a href="product_list.html">服饰衣包</a></li>
									<li><a href="product_list.html">学习工具</a></li>
									<li><a href="product_list.html">其他产品</a></li>
								</ul>
							</div>
							<div>
								<h3>
									<a href="javascript:;">信息发布</a>
								</h3>
								<ul>
									<li><a href="information_publish.html">最新发布</a></li>
									<li><a href="information_publish.html">买家求购</a></li>
									<li><a href="information_publish.html">卖家发布</a></li>
									<li><a href="information_publish.html">免费物品</a></li>
								</ul>
							</div>
							<div>
								<h3>
									<a href="javascript:;">友情链接</a>
								</h3>
								<ul>
									<li><a href="http://www.lzy.edu.cn/">学院官网</a></li>
								</ul>
							</div>
						</div>
						<div class="comments fl">
							<p>
								<input type="text" placeholder="请输入您的姓名" class="border">
								<input type="text" placeholder="请输入您的联系方式" class="border">
							</p>
							<p>
								<textarea placeholder="请输入您的留言" class="border"></textarea>
							</p>
							<p>
								<button type="button" class="border">提交</button>
							</p>
						</div>
					</div>
				</div>
				<div class="foot-btm">
					泸州职业技术学院&nbsp;&nbsp;信息工程学院&nbsp;&nbsp;17计应3班&nbsp;&nbsp;郑小曼&nbsp;&nbsp;<a href="admin/login.php">管理员登录入口</a>
				</div>
			</div>
		</div>
		<script src="../js/jQuery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/adata.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/product_list.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>

	</body>
</html>
