<!DOCTYPE html>
<html>
	<head>
		<title>乐享注册界面</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!-- Custom Theme files -->
		<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
		<link href="../css/register.css" rel="stylesheet" type="text/css" media="all" />
	</head>
	<body>
		<div class="top-buttons-agileinfo">
			<a href="../index.html">首页</a><a href="login.html">登录</a><a href="register.html" class="active">注册</a>
		</div>
		<h1>登录和注册表单</h1>
		<div class="main-agileits">
			<!--form-stars-here-->
			<div class="form-w3-agile">
				<h2 class="sub-agileits-w3layouts">学生注册</h2>
				<form action="#" method="post">
					<input type="text" name="Username" placeholder="登录账户" required="" />
					<input type="password" name="Password" placeholder="登录密码" required="" />
					<input type="password" name="rePassword" placeholder="确认密码" required="" />
					<div class="submit-w3l">
						<input type="submit" value="注册">
					</div>
				</form>
			</div>
		</div>
		<script type="text/javascript">
		</script>
		<!--//form-ends-here-->
		<!-- copyright -->
		<div class="copyright w3-agile">
			<p> 学院地址：泸州市龙马潭区长桥路2号 邮编：646000<br />技术支持：郑小曼 指导老师：赵菲</p>
		</div>
	</body>
</html>
